<%- include("templates/headerStart") %>
<link rel="stylesheet" href="/css/linkLanding.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="/css/animations.css">
<script src="/scripts/link.js"></script>
<%- include("templates/headerEnd") %> 

<%- include("templates/navBar") %> 
<div class="container">
    <div class="title-section">
        <h1>Links</h1>
        <% if (loggedin){ %>
            <button class="create-link" onclick="openModal()">Create Link</button>
        <%} else {%>
            <button class="login-btn" onclick="navigateToLogin()">Login to Create</button>
        <%}%>
    </div>
    <div class="line"></div>
    <% if (loggedin){ %>
        <div id="backdrop" onclick="closeModal()">
        </div>
        <div id="formcont" class="urlmodal">
            <h2>Enter an URL</h2>
            <form class="create-url-form urlmodal" action="/createLink" method="post">
                <input type="url" name="url" id="url" placeholder="https://example.com" pattern="https://.*" />
                <div class="field urlmodal">
                    <button class="upload-btn urlmodal">
                        Create
                    </button>
                </div>
            </form>
        </div>
    <%}%>
</div>

<table class="list">
    <tr class="list-header">
        <th style="width: 40%">URL</th>
        <th style="width: 20%">Short URL</th>
        <th style="width: 5%">Hits</th>
        <th style="width: 10%">Created</th>
        <th style="width: 15%">User</th>
        <th style="width: 10%"></th>
    </tr>
    <% links.forEach((link)=> { %>
        <tr>
            <td style="width: 40%"><a class="link" href="<%- link.url%>"><%- link.url%></a></td>
            <td style="width: 20%"><a class="link" href="<%- domain%>/url/<%- link.url_short%>"><%- domain%>/url/<%- link.url_short%></a></td>
            <td style="width: 5%"><%- link.hits%></td>
            <td style="width: 10%"><%- link.date_created%></td>
            <td style="width: 15%">@<%- link.username%></td>
            <td style="width: 10%"><button class="copybtn" onclick="copyURL(`<%- domain%>/url/<%- link.url_short%>`)">Copy URL</button></td>
        </tr>
    <% }) %>
</table>


    

    

<%- include("templates/footer") %> 