<%- include("templates/headerStart") %>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/login.css">
<link rel="stylesheet" type="text/css" href="/css/animations.css">
<script src="/scripts/login.js"></script>
<%- include("templates/headerEnd") %> 

<%- include("templates/navBar") %>

<%- include("templates/navBar") %> 
<div class="login-container">
    <div class="login-logo-container">
        <img class="logo" src="/assets/logo.png" alt="">
        <div class="title-section">
            <h1 class="green">Green</h1>
            <h1 class="banana">Banana</h1>
        </div>
    </div>

    <span class="vertical-line"></span>

    <div class="login-form-container">
        <h1 class="login-title">Login</h1>
        <form class="login-form" action="/loginUser" method="post">
            <input class="login-input" type="text" name="email" id="email" placeholder="Email">
            <input class="login-input" type="password" name="password" id="password" placeholder="Password">
            <button class="login-button">Connect</button>
        </form>
        <div class="login-signup">
            <p>Start sharing your creations</p>
            <p>-</p>
            <a class="signup" href="/signup">Signup</a>
        </div>
    </div>
</div>


    
<%- include("templates/footer") %> 