<%- include("templates/headerStart") %>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="/css/post.css">
<link rel="stylesheet" href="/css/animations.css">
<script src="/scripts/post.js"></script>
<%- include("templates/headerEnd") %> 

<%- include("templates/navBar") %> 

    <span class="spacer"></span>

    <div class="container">
        <div class="post-information">
            <img class="profile-pic" src="/assets/cat.jpg" alt="">
            <div class="user-info">
                <p class="username">@<%- postOwner%></p>
                <p class="views"><%- hits%> Views</p>
            </div>
        </div>
        <span class="line"></span>
        <div class="img-container">
            <img class="post-img" src="<%- url%>" alt="">
        </div>
        <div class="url-container">
            <button onclick="copyWindowUrl()" class="url-btn">Copy Url <></button>
            <button class="new-tab-btn" onclick="window.open(`<%- url%>`, '_blank')">Open in new tab</button>
        </div>
    </div>

    <span class="spacer"></span>


<%- include("templates/footer") %> 