<%- include("templates/headerStart") %>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/animations.css">
    <script src="/scripts/profile.js"></script>
<%- include("templates/headerEnd") %> 
<script type="text/javascript"> 
    $.cloudinary.config({ cloud_name: '<%= process.env.CLOUDINARY_CLOUD_NAME %>', secure: true});
</script>

<%- include("templates/navBar") %> 
<span class="spacer"></span>

<div class="profile-container">

    <div class="top-section">
        <img class="profile-pic" src="/assets/cat.jpg" alt="none">
        <div class="stats-container">
            <div class="stats">
                <p class="stats-num"><%= totalHits%></p>
                <p>Hits</p>
            </div>
            <div class="stats">
                <p class="stats-num"><%= totalPosts%></p>
                <p>Posts</p>
            </div>
        </div>
    </div>

    <div class="mid-section">
        <div class="user-info">
            <p class="user-name"><%= username%></p>
            <p class="user-email"><%= email%></p>
        </div>
        <div class="btn-container">
            <button class="btn">Edit profile</button>
            <button class="btn">Create post</button>
        </div>
    </div>

    <!-- <span class="line"></span> -->

    <div class="post-section">
        <div class="type-container">
            <div id="link" class="active" onclick="activate(id)"><img class="type" src="/assets/link.png" alt=""></div>
            <div id="img" class="inactive" onclick="activate(id)"><img class="type" src="/assets/img.png" alt=""></div>
            <div id="txt" class="inactive" onclick="activate(id)"><img class="type" src="/assets/txt.png" alt=""></div>
        </div>

        <div id="link-container" class="hide">
            <%if(urlPosts.length === 0) {%>
                <h3 class="hide">... No Posts</h3>
            <%}%>
        </div>
        <div id="img-container" class="hide">
            <%if(imagePosts.length === 0) {%>
                <h3 class="hide">... No Posts</h3>
            <%}else{%>
                <% for(let i = 0; i < imagePosts.length; i++) {%>
                    <script>window.addEventListener('load', () => {
                        createImagePostsAndAppend(`<%- imagePosts[i].url%>`, `img`, `<%- imagePosts[i].id%>`, `<%- imagePosts[i].public_id%>`, `<%- imagePosts[i].hits%>`);
                    })</script>
                <%}%>
            <%}%>
        </div>
        <div id="txt-container" class="hide">
            <%if(textPosts.length === 0) {%>
                <h3 class="hide">... No Posts</h3>
            <%} else {%>
                <% for(let i = 0; i < textPosts.length; i++) {%>
                    <script>window.addEventListener('load', () => {
                        createTextPostsAndAppend(`<%- textPosts[i].hits%>`, `<%- textPosts[i].html%>`, `<%- textPosts[i].css%>` ,`<%- textPosts[i].js%>`, `<%- textPosts[i].text_id%>`);
                    });
                    </script>
                <%}%>
            <%}%>
        </div>

    </div>

</div>

<span class="spacer"></span>



<%- include("templates/footer") %> 